.ourStory {
  background-color: #0c605e15;
  height: 100%;
}

.ourStory-heading {
  font-size: 3rem;
  padding: 10px;
}

.ourStory__video {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin: 30px auto;
}

@media screen and (min-width: 1200px) {

  .ourStory-heading {
    font-size: 8rem;
  }

  .ourStory__video {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
