.button {
  border: none;
  padding: 5px 20px;
  font-family: var(--font-secondary);
  font-size: 1rem;
  border-radius: 15px;
  cursor: pointer;
  text-decoration: none;
  transition: transform 0.2s;
  display: inline-block;
}

.button:hover,
.button:active {
  transform: scale(1.1);
}

.button--primary {
  color: var(--color-primary);
  background-color: var(--color-background);
}


.button--secondary {
  color: var(--color-background);
  background-color: var(--color-secondary);
  ;
}

@media screen and (min-width: 1000px) {
  .button--primary {
    width: 150px;
    font-size: 1.5rem;
  }

  .button--secondary {
    width: 200px;
    font-size: 1.5rem;
  }

  .intro-btn {
    padding: 30px;
    margin: 0 auto;
  }
}
