.rvsp {
  background-color: #c3d0ce;
}

.rvsp__ucast {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 30px;
}

/* overwriting CSS of external component */
.cgf-theme-base .cgf__title {
  font-size: 2rem !important;
  font-weight: 400 !important;
}

.cgf__title,
.cgf__label,
.cgf__description {
  font-family: var(--font-secondary);
}

.cgf__container {
  padding: 0 !important;
  width: 300px;
}

button.cgf__btn {
  border: none !important;
  padding: 5px 20px !important;
  font-family: var(--font-secondary) !important;
  font-size: 1rem !important;
  font-weight: 300 !important;
  border-radius: 15px !important;
  cursor: pointer !important;
  text-decoration: none !important;
  transition: transform 0.2s !important;
  display: inline-block !important;
}


button.cgf__btn:hover,
button.cgf__btn:active {
  transform: scale(1.1) !important;
}


@media screen and (min-width: 800px) {
  .rvsp {
    background-image: url(zam_wed.jpg);
    background-size: cover;
    background-position: top;
  }

  .rvsp__bgOpacity {
    width: 100%;
    height: 100%;
    background-color: #c3d0ce7a;
  }

  .rvsp__ucast {
    align-items: start;
  }

  .cgf__container {
    width: 350px;
  }

}
