.whenAndWhere__bg {
  background-color: #64878d13;
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.whenAndWhere__map {
  flex-basis: 100%;
}

.whenAndWhere__map img {
  max-width: 100%;
}

.info-list__body {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.whenAndWhere__calendar,
.whenAndWhere__weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-list__bodyWeather .info-list__row {
  gap: 100px;
}

.info-list__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  padding: 6px 0;
}

.info-list__headings {
  font-style: italic;
  text-align: left;
}

.info-list__detail {
  font-weight: 600;
  text-align: right;
}


@media screen and (min-width:800px) {
  .whenAndWhere__bg {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-evenly;
  }

  .whenAndWhere__heading {
    flex-basis: 100%;
  }

  .whenAndWhere__calendar,
  .whenAndWhere__weather {
    flex-basis: calc(40% - 80px);
  }

  .whenAndWhere__map {
    display: flex;
    justify-content: center;
    flex-basis: 100%;
    background-color: #d2f8e1;
  }

  .whenAndWhere__map img {
    max-width: 100%;
  }

  .calendar__title,
  .weather__title {
    font-size: 1.2rem;
  }


}
