.intro-background {
  background-image: url(zam_foto.jpg);
  aspect-ratio: 1.2/0.7;
  background-size: cover;
  background-position: top;
}

.intro-background__opacity {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: rgba(250, 255, 252, 0.4);
  flex-direction: column;
  align-items: end;
  justify-content: start;
  gap: 10px;
}

.intro-heading {
  font-size: 2rem;
  padding: 15px 10px 0 5px;
  color: #ffffff;
  font-weight: 600;
}


/* .intro-verse {
  background-color: #bfd0e09d;
  margin: 0 25px;
} */

.intro-verse__text {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #ffffff;
  padding: 0 15px;
  font-weight: 500;
}

.intro-btn {
  padding: 10px;
}

.intro-btn a {
  font-size: 0.8rem;
}


@media screen and (min-width: 1000px) {
  .intro-background {
    aspect-ratio: 1.9/1;
  }

  .intro-heading {
    font-size: 6rem;
    font-weight: 300;
    margin: 10px;
  }

  .intro-verse__text {
    font-size: 2rem;
    margin: 0 100px;
  }

  .intro-btn {
    padding: 100px;
  }

  .intro-btn a {
    font-size: 1.2rem;
  }
}


.countdown-timer,
.countdown-text {
  color: #587977;
  font-size: 3rem;
  font-weight: bold;
}

.countdown-text {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.unit {
  color: var(--color-primary);
  font-size: 1.3rem;
  font-weight: 300;
}

.units {
  font-weight: 600;
}

@media screen and (min-width: 1200px) {
  .countdown-text {
    gap: 40px;
  }

  .unit {
    font-size: 1.5rem;
  }

}
