.footer {
  background-image: url(bg_eucalypt_v2.png);
  background-size: cover;
  background-position: left;
}

.footer__bgOpacity {
  width: 100%;
  height: 100%;
  background-color: rgba(249, 255, 252, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
}

.contact-list {
  text-align: left;
  padding: 0;
}

@media screen and (min-width: 700px) {
  .footer__bgOpacity {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .footer__heading,
  .copyright {
    flex-basis: 100%;
  }



}
