.footer {
  background-size: cover;
  background-position: right;
}

.copyright {
  padding: 15px;
}

@media screen and (min-width: 1200px) {
  .footer__bgOpacity {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .footer__heading,
  .copyright {
    flex-basis: 100%;
  }

}
