@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Saira+Condensed:wght@200&family=Tangerine:wght@700&display=swap');

:root {
  --font-primary: 'Oooh Baby', cursive;
  --font-secondary: 'Saira Condensed', sans-serif;
  --color-primary: #000000;
  --color-secondary: #1f3736;
}

* {
  box-sizing: border-box;
}

html {
  font-family: var(--font-secondary);
  text-align: center;
  color: var(--color-primary);
}

h1 {
  font-family: var(--font-primary);
  font-size: 120px;
  font-weight: 200;
  color: var(--color-secondary);
  margin: 0;
}

ul {
  list-style: none;
}
