@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Saira+Condensed:wght@200&family=Tangerine:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira+Extra+Condensed:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
  --font-primary: 'Oooh Baby', cursive;
  --font-secondary: 'Saira Extra Condensed', sans-serif;
  --color-primary: #000000;
  --color-secondary: #1f3736;
  --color-link: #457978;
  --color-background: #f6fffcdd;

}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-family: var(--font-secondary);
  font-weight: 300;
  text-align: center;
  color: var(--color-primary);
  background-color: var(--color-background);
}

h1 {
  font-family: var(--font-primary);
  font-size: 120px;
  font-weight: 200;
  color: var(--color-secondary);
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 2rem;
  margin: 15px 0;
}

ul {
  list-style: none;
}

a {
  color: var(--color-primary)
}

a:hover,
a:focus {
  color: var(--color-link)
}

@media screen and (min-width:1200px) {
  html {
    margin: 0 180px;
    box-shadow: 3px 3px 10px hsla(0, 0%, 23%, 0.301);
  }
}
